<div class="loginNavBar">
    <div class="loginPieceR"></div>
    <div>
        <h1 class="loginHead">{{title}}</h1>
    </div>
    <div class="loginPieceW"></div>
</div>
<div class="container-fluid loginContainer">
    <div class="row">
        <h2 class="col-xs-offset-2 col-xs-10 loginH2">Login or Register</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="email" class="col-xs-2 control-label loginLabel">Email</label>
                <div class="col-xs-10 loginInput">
                    <input type="email" id="email" name="email" required [(ngModel)]="user.email" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-xs-2 control-label loginLabel">Password</label>
                <div class="col-xs-10 loginInput">
                    <input type="password" id="password" name="password" required [(ngModel)]="user.password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10 btnDiv">
                    <button type="submit" (click)="register()" class="btn btn-default loginBtn">Register</button>
                    <button type="submit" (click)="login()" class="btn btn-default loginBtn">Login</button>
                </div>
            </div>
        </form>
    </div>
    <div class="piece red dashPiece"></div>
    <div class="piece white dashPieceW king"></div>
</div>
<footer>
    <div class='links'>
        <a href="https://github.com/hannahhall/checkers" target="_blank" class="github">
            <img src="assets/img/GitHub-Mark-Light-64px.png" alt="GitHub Link">
        </a>
    </div>
</footer>