<div class="loginNavBar">
    <div class="loginPieceR"></div>
    <div>
        <h1 class="loginHead">{{title}}</h1>
    </div>
    <div class="loginPieceW"></div>
</div>
<div class="loginParentContainer">
    <div class="loginContainer">
        <h2 class="loginH2">Login or Register</h2>
            <div class="">
                <div class="loginInput">
                    <input type="email" id="email" name="email" required [(ngModel)]="user.email" class="input" placeholder="Email">
                </div>
            </div>
            <div class="">
                <div class="loginInput">
                    <input type="password" id="password" name="password" required [(ngModel)]="user.password" class="input" placeholder="Password">
                </div>
            </div>
            <div class="">
                <div class="btnDiv">
                    <button type="submit" (click)="register()" class="loginBtn">Register</button>
                    <button type="submit" (click)="login()" class="loginBtn">Login</button>
                </div>
            </div>
    </div>
</div>
<footer>
    <div class='links'>
        <a href="https://github.com/hannahhall/checkers" target="_blank" class="github">
            <img src="assets/img/GitHub-Mark-Light-64px.png" alt="GitHub Link">
        </a>
    </div>
</footer>
