/* You can add global styles to this file, and also import other style files */

@import 'https://fonts.googleapis.com/css?family=Berkshire+Swash|Raleway';
body {
    margin: 0;
    background: url("assets/img/backgroundgreen.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #e5fa99;
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
}

@media (max-width: 768px) {
    body {
        padding-top: 7em;
    }
}

.loginParentContainer {
    padding-top: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    /* width: 75%; */
    padding: 1em 2em;
    color: #e5fa99;
    font-family: "Raleway", sans-serif;
    border: 5px solid #e5fa99;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    margin-top: 6em;
    box-shadow: -2px 2px 10px black;
    position: relative;
}

.loginNavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    justify-content: space-around;
    background: linear-gradient(to bottom, rgba(116, 39, 0, 0.5), rgba(116, 39, 0, 0.5)), url("assets/img/navbar_copy.png");
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    box-shadow: -2px 2px 10px black;
    align-items: center;
}

.loginPieceR,
.loginPieceW {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 100%;
    box-shadow: -2px 2px 10px black;
    background-color: red;
    background-image: url("assets/img/crown.png");
    background-repeat: no-repeat;
    background-position: center;
}

.loginPieceW {
    background-color: #FFF;
}

.loginBtn,
.dashLogout,
.gameBtn,
.messageBtn,
.results button {
    background-color: #7B2127;
    color: #e5fa99;
    font-size: 1.5em;
    border-radius: 0;
    margin-right: 0.5em;
}

.loginBtn:hover,
.dashLogout:hover,
.gameBtn:hover,
.messageBtn:hover,
.results button:hover {
    background-color: #e5fa99;
    color: #7B2127;
}

.loginH2 {
    font-size: 3em;
    margin: 0;
    /* text-shadow: -5px 0 #000, 0 5px #000; */
    font-family: "Berkshire Swash", cursive;
}

.loginInput {
    margin: 1em 0;
}

.loginInput input {
    font-family: "Raleway", sans-serif;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 100%;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
}

.links {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

.dashContainer {
    padding-top: 6em;
    font: 100% "Raleway", sans-serif;
    color: #e5fa99;
}

.navBar,
.gameNavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(to bottom, rgba(116, 39, 0, 0.5), rgba(116, 39, 0, 0.5)), url("assets/img/navbar_copy.png");
    /* height: 3em; */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: -2px 2px 10px black;
}

@media (max-width: 768px) {
    .navBar,
    .gameNavBar {
        flex-direction: column;
    }
}

.dashHead,
.loginHead,
.gameHead {
    font-family: "Berkshire Swash", cursive;
    letter-spacing: 5px;
    font-size: 5em;
    align-self: center;
    margin: 0 0.25em;
    text-shadow: -5px 0 #7B2127, 0 5px #7B2127;
}

.gameHead,
.dashHead {
    margin-right: auto;
    font-size: 3em;
}

.small {
    font-size: 4em;
    margin-left: auto;
    color: #e5fa99;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    .small {
        margin-left: 0;
    }
}

.dashLogout {
    margin: 0 1em;
    align-self: center;
}

@media (max-width: 768px) {
    .dashLogout {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.gameContain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .gameContain {
        flex-direction: column;
        align-items: center;
    }
}

.dashGame {
    cursor: pointer;
    font-size: 2em;
    height: 200px;
    min-width: 475px;
    border: 3px solid #e5fa99;
    margin: 1em;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    position: relative;
    box-shadow: -2px 2px 10px black;
    /* min-width: 35%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
}

.dashGame p {
    margin: 0;
}

.dashGame span {
    font-family: "Berkshire Swash", cursive;
    display: inline;
    font-size: 2em;
}

@media (max-width: 768px) {
    .dashGame {
        width: 85%;
        margin: 70px 1em;
    }
}

.dashPiece {
    bottom: -35px;
    left: -35px;
    box-shadow: -2px 2px 10px black;
}

.dashPieceW {
    bottom: -20px;
    left: -10px;
    box-shadow: -2px 2px 10px black;
}

.closed {
    pointer-events: none;
}

.github {
    margin: 1em;
}

.gameNavBar {
    margin-bottom: 1em;
}

@media (max-width: 768px) {
    .gameNavBar {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .gameHead {
        font-size: 5em;
    }
}

.gameContainer {
    display: flex;
    padding-top: 5.5em;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 768px) {
    .gameContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

#board {
    height: 560px;
    width: 560px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    padding: 0;
    box-shadow: -2px 2px 10px black;
}

@media (max-width: 768px) {
    #board {
        order: 3;
        margin: 3px;
    }
}

.square {
    height: 70px;
    width: 70px;
    float: left;
    background-image: url("assets/img/white.jpg");
}

.squareBlack {
    height: 70px;
    width: 70px;
    float: left;
    background: #000;
    background-image: url("assets/img/black.jpeg");
}

.hide {
    display: none;
}

.disabled {
    display: block;
    position: absolute;
    width: 560px;
    height: 560px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.messageBoard {
    height: 560px;
    width: 280px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
    box-shadow: -2px 2px 10px black;
    position: relative;
    border: 3px solid #e5fa99;
}

.messageBoard .messageArea {
    overflow-y: scroll;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3px;
}

.messageBoard .messageInput {
    position: absolute;
    bottom: 3px;
    left: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messageInput input {
    font-family: "Raleway", sans-serif;
    border: 1px solid transparent;
    display: inline-flex;
    font-size: 1rem;
    height: 1.8em;
    margin-right: 0.8em;
}

@media (max-width: 768px) {
    .messageBoard {
        order: 2;
        height: 110px;
        margin: 3px;
        padding: 3px;
    }
    .messageBoard .messageArea {
        height: 85px;
    }
    .messageBoard .form-control {
        display: inline;
    }
    .messageBoard .messageInput {
        margin: 0;
    }
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.gameBtn {
    margin: 0 1em;
    align-self: center;
}

@media (max-width: 768px) {
    .gameBtn {
        font-size: 1.25em;
    }
}

@media (max-width: 768px) {
    .messageBtn {
        font-size: 1em;
    }
}

.btnLeft {
    margin-left: auto;
}

@media (max-width: 768px) {
    .btnLeft {
        margin: 0;
    }
}

.player {
    border: 3px solid #e5fa99;
    box-shadow: -2px 2px 10px black;
    height: 125px;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .player {
        order: 1;
        height: 110px;
        margin: 3px;
        padding: 3px;
    }
}

.player p {
    margin: 0;
}

.piece {
    width: 60px;
    height: 60px;
    position: absolute;
    margin: 5px;
    border-radius: 100%;
    box-shadow: -2px 2px 10px black;
}

.piece:after {
    content: "";
    width: 48px;
    height: 48px;
    top: 5px;
    left: 5px;
    position: absolute;
    border-radius: 100%;
}

.piece:before {
    content: "";
    width: 58px;
    height: 58px;
    position: absolute;
    border-radius: 100%;
}

.white {
    background: linear-gradient(45deg, #a0a0a0 0%, #e8e8e8 56%);
}

.white:before {
    content: "";
    background: linear-gradient(45deg, #b5b5b5 0%, #fcfcfc 56%, #e8e8e8 96%);
    border: 1px solid #b5b5b5;
}

.white:after {
    content: "";
    background: linear-gradient(45deg, #b5b5b5 0%, #fcfcfc 56%, #e8e8e8 96%);
    border-top: 1px solid rgba(160, 160, 160, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(160, 160, 160, 0.5);
    box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, 0.2);
}

.red {
    background: linear-gradient(45deg, #990000 0%, red 56%);
}

.red:before {
    content: "";
    background: linear-gradient(45deg, #990000 0%, #fc0000 56%, #e80000 96%);
    border: 1px solid #b50000;
}

.red:after {
    content: "";
    background: linear-gradient(45deg, #b50000 0%, #fc0000 56%, #e80000 96%);
    border-top: 1px solid rgba(140, 0, 0, 0.5);
    border-left: 1px solid rgba(255, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 0, 0, 0.5);
    border-right: 1px solid rgba(140, 0, 0, 0.5);
    box-shadow: inset 0px 0px 2px 2px rgba(140, 0, 0, 0.2);
}

.selected {
    box-shadow: 0px 0px 5px 5px green;
}

.king:after {
    content: "";
    background: url("assets/img/crown.png");
    background-repeat: no-repeat;
    background-position: center;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    margin: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    min-height: 10em;
    min-width: 20em;
    border: 3px solid #e5fa99;
    box-shadow: -2px 2px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.results button {
    align-self: center;
}

.results p {
    font-size: 3em;
    font-family: "Berkshire Swash", cursive;
    padding: 0 1em;
}